.about__image {
  max-width: 464px;
  max-height: 464px;
  grid-area: 1 / 2 / 3 / 3;
  margin-top: 80px;
  border-radius: 50%;
}
@media screen and (max-width: 769px) {
  .about__image {
    height: auto;
    width: 100%;
    margin-top: 61px;
  }
}
@media screen and (max-width: 480px) {
  .about__image {
    margin-top: 32px;
width: 272px;
height: 272px;
  }
}