.reactions_visible_true {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  animation: grow-from-right-to-left 0.2s ease-in-out;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}


@keyframes grow-from-right-to-left {
  from {
    width: 0px;
    left: 100%;
  }
  to {
    width: 100%;
    left: 0;
  }
}
