
.popup__input-error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: none;
  color: #ff0000;
  margin-bottom: 13px;
  margin-top: calc((var(--popup-input-email-margin-bottom) * -1 ) + 3px);
}


