{
  "parser": "@babel/eslint-parser",

  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb-base"],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "requireConfigFile": false, // <== ADD THIS
    "ecmaVersion": 2023, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/prop-types": 0
  }
}
