.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "authorInfo authorInfo"
    "messageWarper messageWarper"
    "messageButtons messageButtons";
}

.authorInfo {  display: grid;
  grid-template-columns: 1fr 1.3fr 0.7fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "userAvatar userName userName"
    "userAvatar userName userName"
    "userAvatar messageDate messageDate";
  grid-area: authorInfo;
}

.userAvatar { grid-area: userAvatar; }

.userName { grid-area: userName; }

.messageDate { grid-area: messageDate; }

.messageWarper {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "messageTitle messageTitle messageTitle"
    "message message message"
    "replayTo replayTo replayTo";
  grid-area: messageWarper;
}

.messageTitle { grid-area: messageTitle; }

.message { grid-area: message; }

.replayTo { grid-area: replayTo; }

.messageButtons { grid-area: messageButtons; }