.btn-bookmark {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background: var(--color-white);
  background-image: url(../../images/icons/bookmark.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.btn-bookmark:hover {
  background-image: url(../../images/icons/bookmark-hover.svg);
}