.comment__input {
  width: 100%;
  font-size: 16px;
  min-height: 53px;
  margin-bottom: 0;
  padding-right: 80px;
  line-height: unset;
  color: black;
  grid-area: 1 / 1 / 2 / 3;
  box-sizing: border-box;
  resize: none;

 }


/* .comment__input:focus-within{
  height: 350px;
} */