:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --var-card-width: 400px;
  --var-card-gap: 16px;
  --var-card-card-item: 3;

  --main-primary: #1A1B22;
  --main-white-hover: #E8E8E8;
  --popup-input-email-margin-bottom: 31px;
  max-width: 1440px;
margin: 0 auto;
scrollbar-color: red red;
}

