@import url(../../blocks/app/app.css);
@import url(../../blocks/app/_page/app_page_saved-articles.css);

.testt{

  position: fixed;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

}