@import url(../../blocks/app/app.css);
@import url(../../blocks/app/_page/app_page_saved-articles.css);


.testt {
  position: fixed;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.container {
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
.xcontainer {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.ximage {
  position: absolute;
  width: 20px;
  height: 25px;
  animation: bounce 2s infinite;
}


