.avatar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 0;
}
.avatar-menu.open {
  flex-direction: column;

  z-index: 4;
  position: relative;
}
.avatar-menu__avatar {
  height: 50px;
  width: 50px;
  cursor: pointer;
  backdrop-filter: blur(46px);
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.avatar-menu__menu {
  background: white;
  color: black;

  margin-top: 12px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 52px;
  margin-right: 8px;
  overflow: hidden;
  right: 0;
  z-index: 1;
  display: none;
  padding-bottom: 20px;
}
.avatar-menu__menu.open {
  animation: height 0.4s forwards;
  display: flex;
}

.avatar-menu__list {
  margin: 0;
  padding: 10px 15px;
  list-style: none;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Roboto', Arial, sans-serif;
}
.avatar-menu__header-container {
  gap: 10px;
}
.avatar-menu__header {
  margin: 0 0 10px -5px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;

  margin-top: 0;
}

.avatar-menu__link {
  color: inherit;
  text-decoration: none;
  padding-left: 5px;
  margin-bottom: 4px;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-size: 21px;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3px;
  padding: 10px;
}

.avatar-menu__button {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 3px;
  font-size: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 3px;
  font-size: 21px;
  width: 100%;
}

@keyframes height {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.avatar-menu__item {
  cursor: pointer;
}
.avatar-menu__item:hover {
  background: #dfdfdf;
  border-radius: 10px;
}

.header-navigation__type {
  height: 100%;
  color: inherit;
  display: flex;
  align-items: center;
}

/* Icon 1 */

.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}

.cl-black {
  background-color: black;
}
.cl-white {
  background-color: white;
}
