.button__sign-in {
  border: 1px solid var(--color-white);
  border-radius: 100px;
  Width: 176px;
  Height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  box-sizing: border-box;
  margin-top: 19px;
  display: inline-block;
}