.comment__warper {
  box-shadow:  rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: none;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 98%;
  align-self: self-start;
  margin-left: 14px;
  margin-bottom: 20px;
  max-width: 93%;
  grid-area: comment;
  margin-top: 20px;
}
.comment__warper_visible_true {
  display: grid;
}
/*  @media screen and (max-width: 769px) {
  .comment__warper {
display: none;
  }
} */

.comment__button {
  height: 40px;
  grid-area: 1 / 2 / 2 / 3;
  /* bad practice, but used to override default class */
  margin: 0 !important;
  align-self: center;
  margin-right: 21px !important;
}
