.popup__button-close {
    height: 40px;
    width: 40px;
/*     margin-top: -45px; */
    display: inline-block;
    background-color: #0088cc;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  @media screen and (max-width: 590px) {
    .popup__button-close  {
      right: calc(50% - 20px);
    }
  }

  @media screen and (max-width: 480px) {
    .popup__button-close  {
      right: 0px;
    }
  }


