.card {
  height: 576px;
  width: 400px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  box-shadow: rgba(8, 29, 45, 0.1) 0px 20px 55px;
}