.personal-info {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    'header edit-button'
    'first-name last-name'
    'email phone';
  margin-bottom: var(--section-bottom-margin);
}

.menu__warper {
  list-style-type: none;
  display: flex;
  text-decoration: none;
  justify-content: center;

  align-content: center;
  padding: 0;
  background-color: #202124;
  margin-top: 0;
  width: 98%;
  margin: 0 auto 14px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 30%) 0px 10px 36px 0px,
    rgb(0 0 0 / 25%) 0px 0px 0px 1px;
}

.menu__button {
  text-decoration: none;
}

.avatar {
  grid-area: avatar;
}

.full-name {
  grid-area: full-name;
}

.title {
  grid-area: title;
}

.profile__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  grid-area: avatar;
  margin-left: 14px;
}

main {
  --section-bottom-margin: 29px;
}

.profile__name {
  grid-area: full-name;
  margin: 0 0 0 10px;
  padding: 0;
  align-self: center;
}

.profile__title {
  grid-area: title;
  margin: 0 0 0 10px;
  padding: 0;
  align-self: center;
}

.personal-info__label {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 60px;
  justify-content: space-between;
}

.personal-info__header {
  margin: 0;
  padding: 0;
  grid-area: header;
}

.personal-info__first-name {
  grid-area: first-name;
}

.personal-info__last-name {
}

.personal-info__last-name {
  grid-area: last-name;
}

.personal-info__email {
  grid-area: email;
}

.personal-info__phone {
  grid-area: phone;
}

.personal-info__edit-button {
  grid-area: edit-button;
  width: 64%;
  height: 27px;
  justify-self: center;
  max-width: 100px;
  justify-self: end;
  width: 80px;
  height: 25px;
  justify-self: flex-end;
  text-transform: unset !important;
  padding: 0 !important;

}

.address__label {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 60px;
  justify-content: space-between;
}

.address__label {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 60px;
  justify-content: space-between;
}

.address__city {
  grid-area: city;
}

.address__postal-code {
  grid-area: postal-code;
}

.address__edit-button {
  grid-area: edit-button;
  width: 64%;
  height: 27px;

  justify-self: end;
}
.profile__header {
  grid-area: header;
  margin: 0;
  height: 0;
}

.menu__item-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  width: max-content;
  color: rgb(255, 254, 254);

  margin: 5px;
  border-radius: 2px;
  font-family: 'roboto slab', Arial, sans-serif;
  font-style: normal;

  font-size: 17px;
}

@media screen and (min-width: 500px) {
  .pageS {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'nav page';
    column-gap: 36px;
    margin: auto;
    max-width: 800px;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
  }
  .menu {
    grid-area: nav;
    height: 100%;
  }
  .profile {
    width: 100%;
    grid-area: page;
    max-width: 800px;
    justify-self: center;
  }
  .menu__warper {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    margin: 0;
    padding-top: 3px;
    padding: 0;
    min-height: 500px;
    height: 100%;
    justify-content: flex-start;
  }

  .menu__item-link {
    width: 100px;
  }
}

.profile__header {
  grid-area: header;
  margin: 0;
  height: 0;
  margin-left: 8px;
  margin-bottom: 10px;
  display: inline-block;
  height: auto;
  width: fit-content;
  font-family: 'roboto slab', Arial, sans-serif;
  font-style: normal;

}

.profile__edit-button {
  grid-area: edit-button;
  width: 64%;
  height: 27px;
  justify-self: center;
  max-width: 100px;
  justify-self: end;
}

.address-info {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    'header edit-button'
    'country city'
    'postal-code unused';
  margin-bottom: var(--section-bottom-margin);
  font-style: normal;
}

.address__header {
  margin: 0;
  height: 0;
}

.profile__info-wrapper {
  width: 100%;
  font-family: 'roboto slab', Arial, sans-serif;
  font-style: normal;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'header edit-button'
    'avatar full-name'
    'avatar title';

  margin-bottom: var(--section-bottom-margin);
}

.active-link {
  background-color: tomato;
  animation: tracking-in-expand ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.commentsPage {
  width: 100%;
  grid-area: page;
  max-width: 800px;
  justify-self: center;
}
.reactionPage {
  width: 100%;
  grid-area: page;
  max-width: 800px;
  justify-self: center;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-23 18:38:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
