.card__image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
@media screen and (max-width: 769px) {
  .card__image {
    max-height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .card__image {
    max-height: 196px;
    height: 196px;
  }
}
