.burger-menu {
  height: 45px;
  position: relative;
  width: 50px;
  margin-top: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.burger-menu__line {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #ffffff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

.burger-menu__line:nth-child(1) {
  top: 0px;
}

.burger-menu__line:nth-child(2),
.burger-menu__line:nth-child(3) {
  top: 15px;
}

.burger-menu__line:nth-child(4) {
  top: 30px;
}

.burger-menu.open .burger-menu__line:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.burger-menu.open .burger-menu__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger-menu.open .burger-menu__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger-menu.open .burger-menu__line:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}

.cl-black {
  background-color: black;
}
.cl-white {
  background-color: white;
}
