.button__bookmark {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background: var(--color-white);
  background-image: url(../../../images/icons/bookmark/bookmark.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  transition: background-image 0.2s ease-in-out;

}
