.btn_type_show-more {
  background: var(--color-white);
  border-radius: 80px;
  height: 64px;
  width: 288px;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--main-primary);
}
