/*  */
.chat-message__warper {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'authorInfo authorInfo'
    'messageWarper messageWarper'
    'messageButtons messageButtons';
  box-sizing: border-box;
  padding: 10px 4px 20px 20px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 98%;
  box-shadow: rgb(0 0 0 / 45%) 0px 3px 8px;
  margin-bottom: 36px;
  background-color: #353b48;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-width: 95%;
  align-self: center;
  transition: transform 0.15s ease-out;
}

.chat-message__warper:hover {
  box-shadow: rgb(41 128 185 / 40%) 5px 5px, rgb(41 128 185 / 30%) 10px 10px,
    rgb(41 128 185 / 20%) 15px 15px;
  transform: scale(1.03);

  z-index: 13;
}

.chat-message__author-Info {
  display: grid;
  grid-template-columns: auto 1.8fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'messageNumber messageNumber '
    'userAvatar userName'
    'userAvatar messageDate';
  grid-area: authorInfo;
}
.chat-message__avatar {
  grid-area: userAvatar;
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.chat-message__author {
  grid-area: userName;
  font-size: 30px;
  align-self: center;
  background-color: #ff6347ad;
  border-radius: 6px;
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
  line-height: 27px;
  font-family: 'roboto slab', Arial, sans-serif;
  font-weight: 700;
  line-height: 27px;
}
.chat-message__date {
  grid-area: messageDate;
  margin-left: 10px;
  margin-top: 5px;
}
.chat-message__number {
  grid-area: messageNumber;
  background-color: #1976d2ba;
  align-self: center;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  justify-self: center;
  margin-top: -25px;
  border-radius: 10px;
}
.chat-message__message-warper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'message'
    'replayTo';
  grid-area: messageWarper;
}
.chat-message__title {
  grid-area: messageTitle;
  background-color: #ff6347a6 !important;
  font-size: 25px !important;
  margin-top: 10px;
  text-align: center;
  justify-self: center;
  color: white !important;
  height: 40px !important;
}
.chat-message__text {
  grid-area: message;
  font-size: 22px;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  line-height: 1.5;
  margin-top: 10px;
  padding-right: 10px;
  white-space: pre-line;
}
.chat-message__replayTo {
  grid-area: replayTo;
}
.chat-message__buttons-warper {
  grid-area: messageButtons;
  display: flex;
}

.chat-meassge-main {
  margin-bottom: 15px;
  background: white;
  border-radius: 6px;
  padding: 5px;
  padding-bottom: 10px;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  max-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.message-list .chat-message__warper:first-child:hover {
  margin-top: 10px;
}

.testt {
  position: fixed;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.container {
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
.xcontainer {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.ximage {
  position: absolute;
  width: 20px;
  height: 25px;
  animation: bounce 2s infinite;
}

.popup__reaction-thankyou {
  width: 40px;
  height: 40px;
}
.userbox {
  display: grid;
  grid-template-areas:
    'avatar stats1 reaction'
    'avatar stats2 reaction';
  padding-left: 8px;
  padding-top: 6px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 72px 1fr 72px;
}

.popup__reaction-count {
  padding-bottom: 5px;
  align-self: self-end;
  font-family: 'roboto slab';
  font-size: 18px;
}

.na {
  display: flex;
  grid-area: stats2;
}

.popup__reactions-filter {

  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  list-style: none;

}

.iconthankYou {
  width: 40px;
  height: 40px;
}

.comment-box {
  padding-left: 20px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-auto-columns: 1fr;
  gap: 10px;
  max-width: 98%;
  grid-auto-flow: row;
  grid-template-areas:
    'header header header'
    'avatar text text'
    'buttons buttons buttons';
}

.comment-box__username {
  margin: 0;
  grid-area: header;
  justify-self: left;
  height: fit-content;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.comment-box__date {
  align-self: center;
  padding-right: 10px;
  justify-self: end;
  grid-area: header;
  height: fit-content;
  padding: 0;
  text-decoration: none;
  color: #b6bcbf;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  padding-right: 10px;
}
.comment-box__avatar {
  grid-area: avatar;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.comment-box__text {
  grid-area: text;
}
.comment-box__buttons {
  grid-area: buttons;
  height: 30px;
  display: flex;

  align-content: center;
  justify-content: space-between;
  width: 90%;
  box-sizing: border-box;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .comment-box {
    padding-left: 2px;
  }
}
