.popup__input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  width: 358px;
  margin-bottom: 30px;
}
.popup__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .popup__input {
    width: 288px;
    margin-bottom: 31px;
  }
}