.popup__container_type_message {
  min-height: 182px;
  margin-top: 9px;
  padding-top: 9px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);

}

@media screen and (max-width: 480px) {
  .popup__container_type_message {
    margin-top: 56px;
  }
}