.popup__container_type_card {
  width: 91vw;
  padding-bottom: 16px;
  max-width: 750px;
  display: flex;
  gap: 0px 0px;
  align-self: baseline;
  position: relative;

  background-color: white;
  width: 95%;
  box-shadow: none;
  max-width: 1000px;
  min-width: 320px;

}

@media screen and (max-width: 769px) {
  .popup__container_type_card {
    grid-template-columns: 1fr;
    grid-template-areas:
        'top'
        'comments';
        height: unset;
  }
}
