.button_type_submit {
  box-sizing: border-box;
  border-radius: 100px;
  width: 358px;
  height: 64px;
  margin-top: 9px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: #2f80ed;
  color: #ffffff;
}

.button_type_submit:disabled {
  background: #e6e8eb;
  color: #b6bcbf;
}
