@import url(../../blocks/card/card.css);
@import url(../../blocks/card/__controls-wrapper/card__controls-wrapper.css);
@import url(../../blocks/card/__date/card__date.css);
@import url(../../blocks/card/__image-wrapper/card__image-wrapper.css);
@import url(../../blocks/card/__text-wrapper/card__text-wrapper.css);
@import url(../../blocks/card/__image/card__image.css);
@import url(../../blocks/card/__source/card__source.css);
@import url(../../blocks/card/__text/card__text.css);
@import url(../../blocks/card/__title/card__title.css);
@import url(../../blocks/card/__tooltip/card__tooltip.css);
@import url(../../blocks/card/__button/card__button.css);
@import url(../../blocks/card/__keyword/card__keyword.css);
@import url(../../blocks/card/__reactions-warper/card__reactions-warper.css);

.reaction__icon-select {
  cursor: pointer;
}
#closeRections {
  color: rgb(246, 82, 53);
}
.card__image_type_popup {
  border-radius: 0;
  max-height: unset;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.card_type_popup {
  height: unset;
  width: 100%;
  max-height: unset;
  max-width: 700px;
  padding: 16px 13px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: unset;
  margin-top: 10px;
  width: 94%;
}
.card_type_popup:hover {
  box-shadow: unset;
}

.card__image-wrapper_type_popup {
  max-width: unset;
  height: unset;
  max-height: unset;
}

.card__text-wrapper_type_popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__text_type_popup {
  max-width: 500px;
  width: 100%;
}

.reaction__text-button {
  font-size: 16px;
  margin-left: 4px;
}
.popup__title_type_card {
  min-height: unset;
  height: unset;
  -webkit-line-clamp: unset;
}
.card__title_type_popup {
  max-width: 500px;
}
.card__text_type_popup {
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  max-height: unset;
}

.lazy-load-image-loaded {
  width: 100%;
  height: 100%;
}

.preLoae {
}

.image__preloader {
  background: linear-gradient(#ffffff, #f2f2f2, #e5e5e5, #d8d8d8, #cccccc);
  width: 100%;
  height: 100%;
  background-size: 400% 400%;
  animation: wave 2s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
    transform: scale(1);
  }

  100% {
    background-position: 0% 0%;
  }
}

.chevron {
  width: 100%;
  height: 20px;
  padding: 5px 0;
  cursor: pointer;
  transition: transform 1s;
}

.card__title_overflow {
  display: block;
}
.chevron_type_up {
  transform: rotate(180deg);
}

.display-none {
  display: none;
}
