.main__subtext {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  margin: 0 0 88px 0;
  padding-right: 20px;
}
@media screen and (max-width: 769px) {
  .main__subtext {
    padding-right: 0;
    margin-bottom: 48px;
    max-width: 452px;
    margin-left: min(160px, 21%);
  }
}

@media screen and (max-width: 480px) {
  .main__subtext {
    max-width: 288px;
margin-left: 0px;
margin-bottom: 122px;
  }
}
