.search-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  max-width: 608px;
  margin-bottom: 80px;
}
@media screen and (max-width: 769px) {
  .search-form  {

  }
}@media screen and (max-width: 769px) {
  .search-form {
 max-width: 448px;
 max-height: 56px;
 margin-left: 160px;
  }
}