.header__nav-link {
  color: var(--color-white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 24px;
  box-sizing: border-box;
  padding-left: 11px;
}
