.header__nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding-bottom: 24px;
  color: inherit;
}

.header__nav-link_type_save-article {
  margin-right: 32px;
  padding-right: 32px;
  padding-left: 32px;

}
.header__nav-link_type_home {
  margin-right: 44px;
  padding-right: 9.5px;
  padding-left: 9.5px;
}
