.header_page_saved-articles {
  color: #1a1b22;
  box-shadow: inset 0px -1px 0px #d1d2d6;
}
@media screen and (max-width: 590px) {
  .header_page_saved-articles .navMenu_isOpen_true {
    color: white;
  }
}

.header_page_saved-articles .button_type_sign-out {
  border: 1px solid #d1d2d6;
}
.header_page_saved-articles .button_type_sign-out:hover {
  border: 1px solid #1a1b22;
}

.header_page_saved-articles .icon_type_sign-out {
  background-image: url(../../../images/icons/sign-out_color_black.svg);
}
@media screen and (max-width: 590px) {
  .header_page_saved-articles .icon_type_sign-out {
    background-image: url(../../../images/icons/sign-out_color_white.svg);
  }
}
